# PyCity Schools Analysis

Analysis in progress

In [53]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
#school_data_complete.head()

# District Summary

In [54]:
# Calculate the total number of unique schools
school_count = len(school_data_complete['school_name'].unique())
school_count

15

In [55]:
# Calculate the total number of students
student_count = school_data_complete['student_name'].count()
student_count

39170

In [56]:
# Calculate the total budget
# works if budget for each school is unique; otherwise use school_data['budget'].sum()
total_budget = school_data_complete['budget'].unique().sum()
total_budget

24649428

In [57]:
# Calculate the average (mean) math score
average_math_score = school_data_complete['math_score'].mean()
average_math_score

78.98537145774827

In [58]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete['reading_score'].mean()
average_reading_score

81.87784018381414

In [59]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete['math_score'] >= 70)].count()['student_name']
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [60]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete['reading_score'] >= 70)].count()['student_name']
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [61]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)
].count()['student_name']
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [62]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame(
    {'Total Schools':[school_count],
     'Total Students':[student_count],
     'Total Budget':[total_budget],
     'Average Math Score':[average_math_score],
     'Average Reading Score':[average_reading_score],
     'Student Percentage Passing Math':[passing_math_percentage],
     'Student Percentage Passing Reading':[passing_reading_percentage],
     'Overall Percentage Passing Math and Reading':[overall_passing_rate]
    }
)

# Formatting
formatted_summary = district_summary
formatted_summary['Total Students'] = district_summary['Total Students'].map("{:,}".format)
formatted_summary['Total Budget'] = district_summary['Total Budget'].map("${:,.2f}".format)
formatted_summary['Average Math Score'] = district_summary['Average Math Score'].map("{:.2f}".format)
formatted_summary['Average Reading Score'] = district_summary['Average Reading Score'].map("{:.2f}".format)
formatted_summary['Student Percentage Passing Math'] = district_summary['Student Percentage Passing Math'].map("{:.1f}%".format)
formatted_summary['Student Percentage Passing Reading'] = district_summary['Student Percentage Passing Reading'].map("{:.1f}%".format)
formatted_summary['Overall Percentage Passing Math and Reading'] = district_summary['Overall Percentage Passing Math and Reading'].map("{:.1f}%".format)

# Display the DataFrame
formatted_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Student Percentage Passing Math,Student Percentage Passing Reading,Overall Percentage Passing Math and Reading
0,15,"39,170","$24,649,428.00",78.99,81.88,75.0%,85.8%,65.2%

# School Summary

In [63]:
school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [64]:
# Use the code provided to select the school type
school_types = school_data.set_index(["school_name"])["type"]